In [1]:
# Pythin Collection:
#     List
#     Topple
#     Dictionary
#     Set

In [2]:
# List
# -Indexing
# -Duplicate and multiple values
# -Ordered
# -Mutable

In [ ]:
l=lsit()
l=[]

In [4]:
a=[1,2,3,4,5,6,7,8,9]
b=["Apple","Ball","Cat","Dog","Elephant"]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [9]:
a=["Apple","Ball","Cat","Dog","Elephant"]
print(a[0])
print(a[0:4])
print(a[0:5:2])

Apple
['Apple', 'Ball', 'Cat', 'Dog']
['Apple', 'Cat', 'Elephant']

In [10]:
a=["Apple","Ball","Cat","Dog","Elephant","Apple","Ball"]

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Apple', 'Ball']

In [16]:
a=[1,2,3,4]
b=[5,6,7,8]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [21]:
a=[1,2,3,4]
b=2
c=a*2
print(c)

[1, 2, 3, 4, 1, 2, 3, 4]

In [27]:
l=[]
n=int(input("enter n= "))
for i in range(n):
    x=int(input("Enter the value of x= "))
    l=l+[x]
print(l)
print("the sum= ",sum(l))
print('The max of l= ',max(l))
print('Min ',min(l))
print('The avg', (sum(l))/n)
l.sort()
print(l)
#to reverse
l.reverse()
print(l)

enter n 11
Enter the value of x 2
Enter the value of x 345
Enter the value of x 1234
Enter the value of x 98
Enter the value of x 12
Enter the value of x 334
Enter the value of x 1221
Enter the value of x 5
Enter the value of x 45
Enter the value of x 324
Enter the value of x 41
[2, 345, 1234, 98, 12, 334, 1221, 5, 45, 324, 41]
the sum=  3661
The max of l=  1234
Min  2
The avg 332.8181818181818
[2, 5, 12, 41, 45, 98, 324, 334, 345, 1221, 1234]
[1234, 1221, 345, 334, 324, 98, 45, 41, 12, 5, 2]

a=["Apple","Ball","Cat","Dog","Elephant"]
a.sort()

In [31]:
b=["Apple","Ball","Cat","Dog","Elephant" ,"Apple","Ball","Cat","Dog","Elephant"]
b.sort()
print(b)

['Apple', 'Apple', 'Ball', 'Ball', 'Cat', 'Cat', 'Dog', 'Dog', 'Elephant', 'Elephant']

In [35]:
#loop in list
b=["Apple","Ball","Cat","Dog","Elephant" ,"Apple","Ball","Cat","Dog","Elephant"]
for i in b:
    print(i)

Apple
Ball
Cat
Dog
Elephant
Apple
Ball
Cat
Dog
Elephant

In [33]:
i=0
b=["Apple","Ball","Cat","Dog","Elephant" ,"Apple","Ball","Cat","Dog","Elephant"]
l=len(b)
while i<l:
    print(i,b[i])
    i=i+1

0 Apple
1 Ball
2 Cat
3 Dog
4 Elephant
5 Apple
6 Ball
7 Cat
8 Dog
9 Elephant

In [36]:
a=[1,2,3]
for i in a:
    print(i)

1
2
3

In [ ]:
#insert values
append() insert() extend()

#delete values
del remove() pop()

In [39]:
#append
a=[]
a.append('Apple')
a.append('Ball')
a.append('cat)
print(a)

['Apple', 'Ball', 'cat']

In [40]:
l=[]
n=int(input('enter no '))
for i in range(n):
    x=input('enter word ')
    l.append(x)
print(l)

enter no 2
enter wordapple
enter wordball
['apple', 'ball']

In [42]:
#insert():to insert in middle
a=['Apple','Ball','Cat',"Dog"]
a.insert(1,'apple')
a

['Apple', 'apple', 'Ball', 'Cat', 'Dog']

In [45]:
#extend
a=[1,2,3]
b=[4,5,6]
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [48]:
#delete values: del remove() pop()
a=['Apple','Ball','Cat',"Dog"]
del a[0:2]
print(a)

['Cat', 'Dog']

In [53]:
a=['Apple','Ball','Cat',"Dog","Elephant","Fish","Gun"]
a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gun']

In [52]:
a=[0,1,2,3,4,5,6,7,8,9]
a.remove(0)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [54]:
a=['Apple','Ball','Cat',"Dog","Elephant","Fish","Gun","Apple"]
b=a.count('Apple')
for i in range(b):
    a.remove('Apple')
print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gun']

In [56]:
#pop()
a=['Apple','Ball','Cat',"Dog","Elephant","Fish","Gun","Apple"]
a.pop(0)
print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gun', 'Apple']

In [4]:
a=['Apple','Ball','Cat',"Dog","Elephant","Fish","Gun","Apple"]
a.remove('Apple')
print(a)
a.insert(0,'Zoo')
print(a)

['Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gun', 'Apple']
['Zoo', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gun', 'Apple']

In [9]:
#list inside list
a=[[1,2,3],
  [4,5,6],
  [7,8,9]]
print(a[0][0])

1

In [13]:
a=[["Ram",34,"Kathmandu"],
  ["Shyam",22,"Pokhara"],
  ["Hari",21,"Bhaktapur"]]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [14]:
l=[]
n=int(input("Enter n "))
for i in range(n):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=input('Enter address= ')
    info=[name,age,add]
    l.append(info)
print(l)

Enter n 3
Enter name= ram
Enter age= 23
Enter address= ktm
Enter name= hari
Enter age= 32
Enter address= lpr
Enter name= shyam
Enter age= 78
Enter address= bkt
[['ram', 23, 'ktm'], ['hari', 32, 'lpr'], ['shyam', 78, 'bkt']]

In [19]:
l=[['ram', 23, 'ktm'], ['hari', 32, 'lpr'], ['shyam', 78, 'bkt']]
#add new value
l.append(["Vea",32,"pkr"])
l

[['ram', 23, 'ktm'],
 ['hari', 32, 'lpr'],
 ['shyam', 78, 'bkt'],
 ['Vea', 32, 'pkr']]

In [21]:
#update value
l[0]=["Shiva",13,"ktm"]
l
l[3][0]="Alan"
l

[['Shiva', 13, 'ktm'],
 ['hari', 32, 'lpr'],
 ['shyam', 78, 'bkt'],
 ['Alan', 32, 'pkr']]

In [27]:
data=[['Shiva', 13, 'ktm'],
 ['hari', 32, 'lpr'],
 ['shyam', 78, 'bkt'],
 ['Alan', 32, 'pkr']]
count=0
a=input('Enter the name= ')
for i in data:
    
    if i[0].lower()==a.lower():
        print(i)
        count=count+1
if count==0:
    print('name not found')
else:
    print(count, "no. of rows found")

Enter the name= SHYAM
['shyam', 78, 'bkt']
1 no. of rows found

In [23]:
a=["Ram","Shyam","Hari"]
b=input('Enter a Name= ')
if b in a:
    print('Yes')
    print(a.count('Ram'))
else:
    print('No Name')

Enter a Name= Ram
Yes
1

In [ ]:
#WAP to create matrix taking no of rows, coulmns and input
#WAP to convert string into list inside list (billing system into list inside list) [[apple 2 300],[banana, 4,200]]
#WAP to create result management system in list inside list and perform CRUD

In [1]:
# WAP to create matrix taking no of rows, coulmns and input
rlist = []
l = []
rows = int(input("Enter no. of rows= "))
columns = int(input('Enter no. of columns= '))
for i in range(columns):

    for j in range(rows):
        no = int(input(f"Enter rows element {(i+1,j+1)}=  "))

        rlist = rlist+[no]

    l.append(rlist)
    rlist = []
print(l)

Enter no. of rows= 2
Enter no. of columns= 3
Enter rows element (1, 1)=  1
Enter rows element (1, 2)=  2
Enter rows element (2, 1)=  3
Enter rows element (2, 2)=  4
Enter rows element (3, 1)=  5
Enter rows element (3, 2)=  6
[[1, 2], [3, 4], [5, 6]]

In [7]:
#WAP to convert string into list inside list
list = []
gross=0
no = int(input("Enter the no. of food items= "))
for i in range(no):
    name = input("Enter the name of food= ")
    rate = int(input("Enter the rate= "))
    qty = int(input("Enter the quantity= "))
    total = rate*qty
    list1 = [name, rate, qty, total]
    list.append(list1)
    gross=gross+total

print(list)
print('Total= ',gross)

Enter the no. of food items= 5
Enter the name of food= momo
Enter the rate= 230
Enter the quantity= 3
Enter the name of food= pizza
Enter the rate= 234
Enter the quantity= 3
Enter the name of food= apple
Enter the rate= 20
Enter the quantity= 10
Enter the name of food= banana
Enter the rate= 15
Enter the quantity= 24
Enter the name of food= milk
Enter the rate= 35
Enter the quantity= 4
[['momo', 230, 3, 690], ['pizza', 234, 3, 702], ['apple', 20, 10, 200], ['banana', 15, 24, 360], ['milk', 35, 4, 140]]
Total=  2092

In [17]:
#WAP to create result management system in list inside list and perform CRUD
l=[]
n=int(input("Enter the no. of students= "))
for i in range(n):

    name=input("Enter your name= ")
    p=int(input("physics= "))
    c=int(input("chemistry= "))
    math=int(input("maths= "))
    eng=int(input("English= "))
    if 0<p<100 and 0<c<100 and 0<math<100 and 0<eng<100: 
        total=p+c+math+eng
        percentage=(total)/400 *100
        l.append([name, p,c,math,eng,percentage] )
    else:
        print("Invalid marks")
   
    
print(l)

Enter the no. of students= 2
Enter your name= mpl
physics= 68
chemistry= 90
maths= 84
English= 48
Enter your name= ram
physics= 122
chemistry= 233
maths= 143
English= 244
Invalid marks
[['mpl', 68, 90, 84, 48, 72.5]]

In [6]:
list=[]
a="Momo 2 200 400"
b="pizza 2 300 600"
a=a.split()
b=b.split()
list.append(a)
list.append(b)
print(list)

[['Momo', '2', '200', '400'], ['pizza', '2', '300', '600']]

In [ ]:
# #Dictionary
# -indexing
# -Multiple and duplicate data
# -ordered
# -Mutable

In [1]:
# d={<key>:<value>,<key>:<value>}

In [2]:
d={'a':'Apple','b':'Ball','c':'Cat'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(d['a'])
print(d['b'])# same key should not be multiple

Apple
Ball

In [6]:
d={'a':'Apple','b':'Ball','c':'Cat','c':'cat'}
d

{'a': 'Apple', 'b': 'Ball', 'c': 'cat'}

In [7]:
#creating a dict
d={}
type(d)

dict

In [8]:
#creating a dict
d=dict()
type(d)

dict

In [9]:
#add values
d={}
d['a']='Apple'
d['b']="Ball"
d['c']='Cat'
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [11]:
#update values
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
d['a']='Ant'
d

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [12]:
#Reading
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d:
    print(i)

a
b
c

In [13]:
#Reading
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d.values():
    print(i)

Apple
Ball
Cat

In [14]:
#Reading
d={'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
for i in d.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [15]:
#list to dict
d=[['a','Ant'],['b',"Ball"],['c','Cat']]#list inside list with only 2 values
dict(d)

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat'}

In [16]:
data={}
n=int(input("Enter no. of users= "))
for i in range(n):
    name=input("Enter name= ")
    phone=int(input("Enter phone no= "))
    data[name]=phone
print(data)

Enter no. of users= 2
Enter name= ram
Enter phone no. 1234
Enter name= shyam
Enter phone no. 12345
{'ram': 1234, 'shyam': 12345}

In [17]:
# No list as key in dict
d={['ram']: 1234, ['shyam']: 12345}
d

TypeError: unhashable type: 'list'

In [18]:
#list can be in value
#list inside dictionary
d={'ram': [9818456135,9749322755], 'shyam': [9818247814,9851058234]}
d

{'ram': [9818456135, 9749322755], 'shyam': [9818247814, 9851058234]}

In [4]:
data={}
phone=[]
n=int(input("Enter no. of users= "))
for i in range(n):
    name=input("Enter name= ")
    k=int(input("Enter the no. of phone number"))
    phone=[]
    for j in range(k):
        
        p=int(input("Enter phone no."))
        phone.append(p)
        data[name]=phone
   
print(data)

Enter no. of users= 3
Enter name= ram
Enter the no. of phone number2
Enter phone no.123
Enter phone no.234
Enter name= shyam
Enter the no. of phone number2
Enter phone no.456
Enter phone no.789
Enter name= hari
Enter the no. of phone number2
Enter phone no.5678
Enter phone no.432
{'ram': [123, 234], 'shyam': [456, 789], 'hari': [5678, 432]}

In [6]:
data={
    'name':['Ram','Shyam',"Hari"],
    'age':[78,67,89],
    'add':['Kathmandu',"Bhaktapur","Lalitpur"]
}

SyntaxError: invalid syntax. Perhaps you forgot a comma? (524188111.py, line 2)

In [2]:
data={
    'name':['Ram','Shyam',"Hari"],
    'age':[78,67,89],
    'add':['Kathmandu',"Bhaktapur","Lalitpur"]
}
data

{'name': ['Ram', 'Shyam', 'Hari'],
 'age': [78, 67, 89],
 'add': ['Kathmandu', 'Bhaktapur', 'Lalitpur']}

In [7]:
data={'name':[],
     'age':[],
     'add':[]}
n=int(input('Enter n= '))
for i in range(n):
    name=input('Enter name= ')
    age=int(input("Enter age= "))
    add=input("Enter address= ")
    data['name'].append(name)
    data['age'].append(age)
    data['add'].append(add)
print(data)

Enter n= 2
Enter name= mpl
Enter age= 13
Enter address= asd
Enter name= mmm
Enter age= 23
Enter address= asd
{'name': ['mpl', 'mmm'], 'age': [13, 23], 'add': ['asd', 'asd']}

In [13]:
#details
d={'name': ['mpl', 'mmm'], 'age': [13, 23], 'add': ['asd', 'asd']}
print(d['name'][0])
print(d['age'][0])
print(d['add'][0])

mpl
13
asd

In [ ]:
#WAP to edit and delete

In [1]:
#dict inside dict:
data={'physics':{'ptr':24,'th':34},
      'chemistry':{'ptr':34,'th':56},
      'Maths':{'ptr':34,'th':98}
     }

In [2]:
print(data['physics']['ptr'])

24

In [1]:
# WAP to create dict inside dict
# C-create R-read u-update d-delete

# Data Entry
data = {
    "Name": [],
    "physics": {"ptr": 0, "th": 0},
    "chemistry": {"ptr": 0, "th": 0},
    "Maths": {"ptr": 0, "th": 0},
}
s = ["physics", "chemistry", "Maths"]
name = input("Enter name= ")
data["Name"].append(name)
print("Enter marks of physics, chem, mathematics")
for i in s:
    for j in range(1):
        print(f"Enter your marks for {i}")
        ptr = int(input("Enter practical = "))
        th = int(input("Enter theory= "))
        data[i]["ptr"] = ptr
        data[i]["th"] = th
print(data)

# For Edit

print("Type 'Y' for final print and 'N' for edit")
dec = input("Enter your decision= ")
if dec == "N":
    print("Select 'physics' or 'chemistry' or 'Maths' or 'All'")
    dec1 = input("Enter your subject of edit= ")
    if dec1 == "physics":
        ptr = int(input("Enter practical = "))
        th = int(input("Enter theory= "))
        data["physics"]["ptr"] = ptr
        data["physics"]["th"] = th
        print(data)
    elif dec1 == "chemistry":
        ptr = int(input("Enter practical = "))
        th = int(input("Enter theory= "))
        data["chemistry"]["ptr"] = ptr
        data["chemistry"]["th"] = th
        print(data)
    elif dec1 == "Maths":
        ptr = int(input("Enter practical = "))
        th = int(input("Enter theory= "))
        data["Maths"]["ptr"] = ptr
        data["Maths"]["th"] = th
        print(data)
    elif dec1 == "All":
        for i in s:
            for j in range(1):
                print(f"Enter your marks for {i}")
                ptr = int(input("Enter practical = "))
                th = int(input("Enter theory= "))
                data[i]["ptr"] = ptr
                data[i]["th"] = th
        print(data)
    else:
        print("Syntax Error")
        print(data)
else:
    print(data)

Enter name= mpl
Enter marks of physics, chem, mathematics
Enter your marks for physics
Enter practical = 25
Enter theory= 67
Enter your marks for chemistry
Enter practical = 53
Enter theory= 45
Enter your marks for Maths
Enter practical = 32
Enter theory= 67
{'Name': ['mpl'], 'physics': {'ptr': 25, 'th': 67}, 'chemistry': {'ptr': 53, 'th': 45}, 'Maths': {'ptr': 32, 'th': 67}}
Type 'Y' for final print and 'N' for edit
Enter your decision= Y
{'Name': ['mpl'], 'physics': {'ptr': 25, 'th': 67}, 'chemistry': {'ptr': 53, 'th': 45}, 'Maths': {'ptr': 32, 'th': 67}}

In [2]:
data={}
n=int(input("Enter n= "))
for i in range(1,n+1):
    name=input("Enter name= ")
    age=int(input("Enter age= "))
    add=input("Enter address= ")
    data[i]={'name':name, 'age':age, "add":add}
print(data)

Enter n= 2
Enter name= mpl
Enter age= 17
Enter address= ktm
Enter name= ram
Enter age= 34
Enter address= ktm
{1: {'name': 'mpl', 'age': 17, 'add': 'ktm'}, 2: {'name': 'ram', 'age': 34, 'add': 'ktm'}}