In [1]:
# loops:
#     for loop
#     while loop

In [ ]:
#for loop
range(5)-0,1,2,3,4
range(1,5)-1,2,3,4
range(1,10,2)-1,3,5,7,9

In [6]:
#for
for i in range(1,5):
    print(i,'Hello world')

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [7]:
#for
for i in range(5):
    print(i,'Hello world')

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [10]:
for i in range(1,10,2):
    print('the value of i= ', i)

the value of i=  1
the value of i=  3
the value of i=  5
the value of i=  7
the value of i=  9

In [21]:
n=int(input('Enter the value of n= '))
for i in range(1,11):
    print(n,"*",i,"=", n*i)

Enter the value of n= 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
n=int(input('Enter a num '))
for i in range(n):
    print(i)

Enter a num 10
0
1
2
3
4
5
6
7
8
9

In [27]:
s=0
n=int(input('Enter n= '))
for i in range(n):
    x=int(input('enter x='))
    s=s+x
print(s)

Enter n= 5
enter x=1
enter x=2
enter x=3
enter x=4
enter x=5
15

In [38]:
s=""

n=int(input('Enter n= '))
for i in range(n):
    x=(input('enter x='))
    s= s + x + " "
print(s)

Enter n= 5
enter x=a
enter x=b
enter x=c
enter x=d
enter x=
a b c d

In [39]:
s=""

n=int(input('Enter n= '))
for i in range(n):
    x=(input('enter x='))
    s= s + x + "\n"
print(s)

Enter n= 3
enter x=a
enter x=b
enter x=c
a
b
c

In [50]:
s=""
n=int(input('enter the no. of users '))
for i in range(n):
    a=input('enter name= ')
    b=input('enter address= ')
    s=s+"Name= "+a+"     "+"Address= "+b+'\n'
print(s)

enter the no. of users2
enter namempl
enter addressktm
enter nameram
enter addressktm
Name= mpl     Address= ktm
Name= ram     Address= ktm

In [54]:
fac=1
n=int(input('Enter n'))
for i in range(1,n+1):
    fac=fac*i
    
    print(fac)

Enter n5
1
2
6
24
120

In [ ]:
#WAP to create a billing system
    -name
    -price
    -quantity
    -total
    -grand_total

In [7]:
t=0
b=0
s=""
a=int(input('Enter the number of food items ordered: '))
for i in range(a):
    name=input('Enter the name of food: ')
    price=float(input('Enter the price of the item: '))
    qty=int(input('Enter the quantity of the item: '))
    total=price*qty
    total_vat=(price*qty)+(price*qty)*0.13
    s=s+str(i+1)+". "+"the name of food: "+name+"     "+"the price of the item: "+str(price)+"     "+"the quantity of the item: "+str(qty)+"     "+"Amount: "+str(total)+"\n"
    t=(t+total_vat)
    b=b+total
print(s)
print("Total amount: ",b)
print("Total amount with VAT(13%): ",t)

Enter the number of food items ordered: 2
Enter the name of food: momo
Enter the price of the item: 100
Enter the quantity of the item: 2
Enter the name of food: pizza
Enter the price of the item: 300
Enter the quantity of the item: 5
1. the name of food: momo     the price of the item: 100.0     the quantity of the item: 2     Amount: 200.0
2. the name of food: pizza     the price of the item: 300.0     the quantity of the item: 5     Amount: 1500.0

Total amount:  1700.0
Total amount with VAT(13%):  1921.0

In [ ]:
#for loop for string

In [9]:
a="Apple"
for i in a:
    print(i,"hello world")

A hello world
p hello world
p hello world
l hello world
e hello world

In [13]:
a="Hello world. I am Python."
for i in a:
    print(i,end=" ")

H e l l o   w o r l d .   I   a m   P y t h o n .

In [17]:
a="Hello world. I am Python."
for i in a:
    if i!=".":
        print(i,end="")

Hello world I am Python

In [19]:
a="Hello world. I am Python."
for i in a:
    if i!=".":
        print(i,end="")

Hello world I am Python

In [78]:
# #control Statement
#     -continue
#     -break
#     -pass

In [27]:
for i in range(10):
    if i==5:
        break
             
    else:
        print(i)

0
1
2
3
4

In [29]:
a="Hello world. I am Python."
for i in a:
    if i==".":
        continue
    print(i, end="")

Hello world I am Python

In [36]:
for i in range(10):
    if i==5:
        continue
       
             
    else:
        print(i, end=" ")

0 1 2 3 4 6 7 8 9

In [62]:
#WAP to detect if the given number is prime or composite
s=0
a=int(input('Enter a number '))
for i in range(1,a+1):
    if a%i==0:
        s=s+1
if s<=2:
    print('the number is prime')
    
else:
    print('the number is composite')

Enter a number 11
the number is prime

In [77]:
#for-else loop
n=int(input('Enter a no= '))
for i in range(2, n):
    if n>2:
        if n%i==0:
            print("The no is composite")
            break
    else:
        print('the number is prime')
else:
    print("the number is prime")

Enter a no= 111
The no is composite

In [1]:
n=int(input('Enter a no= '))
for i in range(2, n):
    print (i)

Enter a no= 2