In [2]:
a='hello world'
b='Hello World'
print(type(a),type(b))

<class 'str'> <class 'str'>

In [6]:
a='Hello world \n'
print(a*2)

Hello world
Hello world

In [10]:
a="hello World"
print(a[0])
print(a[0:5])
print(a[0:10:2])

h
hello
hloWr

In [22]:
a="Hello World"

print(a[::-1])#reverse print

dlroW olleH

In [25]:
a="Hello World"
l=len(a)
for i in range(l):
    print(a[i], end="")

Hello World

In [27]:

#Concatination
name='Ram'
age=34
add='ktm'
info= 'hello world '+name+" "+str(age)+" "+'I am from '+add
print(info)

hello world Ram 34 I am from ktm

In [32]:
# String Formatting
name=input("Enter name ")
age=int(input("enter age "))
add=input("Enter address ")
info=f"Hello world, I am {name}. I am from {add} and I am {age} years old." # f"" for formatting.
print(info)

Enter name mpl
enter age 131
Enter address kkk
Hello world, I am mpl. I am from kkk and I am 131 years old.

In [34]:
#bill
t=0
b=0
s=""
a=int(input('Enter the number of food items ordered: '))
for i in range(a):
    name=input('Enter the name of food: ')
    price=float(input('Enter the price of the item: '))
    qty=int(input('Enter the quantity of the item: '))
    total=price*qty
    total_vat=(price*qty)+(price*qty)*0.13
    s=s+ f"{i+1}. Name of item= {name}     Price of item= {price}     Quantity= {qty}     Amount= {total}     Amount with VAT={total_vat} \n"
    t=(t+total_vat)
    b=b+total
print(s)
print("Total amount: ",b)
print("Total amount with VAT(13%): ",t)

Enter the number of food items ordered: 1
Enter the name of food: momo
Enter the price of the item: 12
Enter the quantity of the item: 1
1. Name of item=momo     Price of item=12.0     Quantity=1     Amount=12.0     Amount with VAT=13.56

Total amount:  12.0
Total amount with VAT(13%):  13.56

In [37]:
#search
a="Ram Shyam Hari Sita Nabin Akash Ram"
name=input('Enter Name ')
if name in a:
    print("yes")
    print(a.count(name))
else:
    print('There is no', name)

Enter Name ram
There is no ram

In [45]:
a="Ram Shyam Hari Sita Nabin Akash Ram"
print(a.upper())
print(a.lower())

print(a)

RAM SHYAM HARI SITA NABIN AKASH RAM
ram shyam hari sita nabin akash ram
Ram Shyam Hari Sita Nabin Akash Ram

In [3]:
#search
a="Ram Shyam Hari Sita Nabin Akash Ram Ramesh".lower()
name=input('Enter Name ').lower()

if name in a:
    print("yes")
    print(a.count(name))
else:
    print('There is no', name)

Enter Name ram
yes
3

In [12]:
#replace
a="Ram Shyam Hari Sita Nabin Akash Ram Ramesh"
a=a.replace("Ram ", "ram ")
print(a)

ram Shyam Hari Sita Nabin Akash ram Ramesh

In [15]:
#remove
a="Ram Shyam Hari Sita Nabin Akash Ram Ramesh"
a=a.replace("Ram ", "")
print(a)

Shyam Hari Sita Nabin Akash Ramesh

In [19]:
# title() split()
a="Ram Shyam Hari Sita Nabin Akash Ram ramesh"
a.title()

'Ram Shyam Hari Sita Nabin Akash Ram Ramesh'

In [21]:
# title() split()
a="Ram Shyam Hari Sita Nabin Akash Ram ramesh"
a.split()

['Ram', 'Shyam', 'Hari', 'Sita', 'Nabin', 'Akash', 'Ram', 'ramesh']

In [24]:
a="Hello world"
l=len(a)
i=0
while i<l:
    print(a[i], end="")
    i=i+1

Hello world