In [ ]:
# #Tuple
# -Indexing
# -Ordered
# -Multiple and duplicate data
# -imutable

In [13]:
a=(1,2,3)
print(type(a),a)

<class 'tuple'> (1, 2, 3)

In [9]:
a=("Apple","Ball","Cat","Dog")
print(a[0])
print(a[0:3])
print(a[0::2])
print(a[::-1])

Apple
('Apple', 'Ball', 'Cat')
('Apple', 'Cat')
('Dog', 'Cat', 'Ball', 'Apple')

In [14]:
gender=("Male","Female","Other")

In [16]:
a=()
b=tuple()
c=(1)
d=(1,)
print(type(a),type(b),type(c),type(d))

<class 'tuple'> <class 'tuple'> <class 'int'> <class 'tuple'>

In [18]:
#tuple cannot
#append
#insert
#extend
#-No update:
#-No Sort
#-No del remove() pop()

In [20]:
#tuple can be concatinated
t=()
n=int(input("Enter n= "))
for i in range(n):
    x=int(input("Enter x= "))
    t=t+(x,)
print(t)

Enter n= 3
Enter x= 1
Enter x= 2
Enter x= 3
(1, 2, 3)

In [24]:
a=(1,2,3,4,5)
print(max(a),min(a),sum(a))

5 1 15

In [25]:
a=(1,2,3,4,5,6,7,8,9,10)
b=list(a)
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
a=(1,2,3,4,5,6,7,8,9,10)
b=list(a)
del b[0]
a=tuple(b)

print(a)

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
#tuple inside list
l=[(1,2,3),(4,5,6),(7,8,9)]

In [35]:
#List inside tuple
t=([1,2,3],[4,5,6],[7,8,9])

print(t)

([1, 2, 3], [4, 5, 6], [7, 8, 9])

In [41]:
#tuple inside tuple
c=[]
a=((1,2,3),(4,5,6),(7,8,9))
b=list(a)
for i in b:
    c.append(list(i))
print(c)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
#list inside list to tuple inside tuple


a=[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
b=tuple(a)
e=()
d=()
for i in b:
    d=tuple(i)    
    e=e+(d,)
    
    

print(e)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [73]:
# #Set
# -No indexing
# -Multiple but no duplicate
# -Unordered
# -Mutable

In [52]:
s={1,2,3,4,5,6,7,8,9,0}
type(s)
print(s)#Does not always sort

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [62]:
s={"Apple","Ball","Cat","Dog","Fish"}
print(s)

{'Fish', 'Ball', 'Cat', 'Dog', 'Apple'}

In [7]:
a={"Apple","Apple","Ball","Cat","Dog","Cat"}
print(a)

{'Ball', 'Dog', 'Cat', 'Apple'}

In [8]:
# Set
# add()
# remove()
# update()

In [10]:
s={'Fish', 'Ball', 'Cat', 'Dog', 'Apple'}
s.add("Hello")
print(s)

{'Cat', 'Apple', 'Fish', 'Ball', 'Dog', 'Hello'}

In [12]:
s=set()
s.add("Apple")
s.add("Ball")
s.add("Cat")
s

{'Apple', 'Ball', 'Cat'}

In [15]:
# WAP to create set taking from values
s=set()
n=int(input("Enter n= "))
for i in range(n):
    x=input("Enter a word= ")
    s.add(x)
print(s)

Enter n= 3
Enter a word= apple
Enter a word= ball
Enter a word= cat
{'cat', 'apple', 'ball'}

In [16]:
a={"Apple","Ball","Cat"}
b={1,2,3,4,5}
a.update(b)
a

{1, 2, 3, 4, 5, 'Apple', 'Ball', 'Cat'}

In [ ]:
#intersection()
#union()
#difference()

In [23]:
skills={"Python","HTML","Css","Django","JS"}
job={"Python","Django","HTML","Css","JS","C","C++",".net"}
skills.intersection(job)

print(skills)

{'Css', 'Django', 'HTML', 'Python', 'JS'}

In [37]:
skills={"Python","HTML","Css","Django","JS","java"}
job={"Python","Django","HTML","Css","JS","C","C++",".net"}
skills.union(job)

{'.net', 'C', 'C++', 'Css', 'Django', 'HTML', 'JS', 'Python', 'java'}

In [39]:
skills={"Python","HTML","Css","Django","JS","java"}
job={"Python","Django","HTML","Css","JS","C","C++",".net"}
job.difference(skills)

{'.net', 'C', 'C++'}

In [ ]:
#arry cannot be in a set
#NO mutable data type inside a set.(no set,no dict,no list)
#Tuple can exist inside a set.

In [1]:
s={(1,2,3),(4,5,6)}
s

{(1, 2, 3), (4, 5, 6)}